body {
   background-color: whitesmoke;

}



#sesion1 {
    color: yellow;
    font-size: 30px;
    font-weight: bold;
}

#sesion2 {
    color: blueviolet;
    font-size: 30px;
    font-weight: bold;
}